<html>
    <head>
       <title>Dojo Survey</title>
    </head>
    <body>
      <div class="wrapper">

        <h1>Dojo Survey</h1>
        <!-- read on to learn about form actions, we'll talk about the method in a later section -->

        {% with messages = get_flashed_messages() %}
          {% if messages %}
            {% for message in messages %}
              <p>{{message}}</p>
            {% endfor %}
          {% endif %}
        {% endwith %}
        <form action='/survey_results' method='post'>
            <p>Your Name:
              <input type='text' name='name'>
            </p>

            <p>Dojo Location:
              <select name="location">
                <option value="San Jose">San Jose</option>
                <option value="Seattle">Seattle</option>
                <option value="Los Angeles">Los Angeles</option>
              </select>
            </p>

            <p>Favorite Language:
              <select name="language">
                <option value="Python">Python</option>
                <option value="Ruby">Ruby</option>
                <option value="Javascript">Javascript</option>
                <option value="HTML/CSS">HTML/CSS</option>
            </select>
          </p>

            <p>Comment (Required): <br>
              <textarea name="comment"></textarea></br>
            </p>

            <input type='submit' value='Submit'>
        </form>

      </div>
    </body>
</html>
